@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Rock+Salt&display=swap');

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Rock Salt";
    color: #219ebc;
}

header {
    padding: 20px;
    background-color: #ffb703;
}

p {
    padding: 25px;
}

nav {
    background-color: #f0c209;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    padding: 1rem;
    display: block;
    text-decoration: none;
    color: #396E94;
}

nav a:link, nav a:visited {
    color: #396E94;
}

nav a:hover {
    color: white;
    background-color: #396E94;
}
