nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

img {
    width: 300px;
    height: auto;
    border: 5px solid steelblue;
    padding: 20px;
    margin: 10px 10px 30px 0px;
    box-shadow: 30px 30px 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 1px solid;
    padding: 15px;
    background-color: white;
    color: brown; 
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
