* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
   font-family: Roboto, Arial, sans-serif;
   font-size: 16px;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: 10px;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    margin: -5px 10px 30px 0px;
    box-shadow: 5px 5px 5px gray;
    float: right;
   
    
}

p {
    padding: 10px;
    margin: 1rem;
}

#profilep {
    text-align: justify;
    margin: 5px;
    padding: 10px; 
}


main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 10px;
    /* border: 1px solid; */
    /*padding: 15px; */
    background-color: white;
    color: black; 
    position: relative;
}

aside img {
    width: 266px;
    height: auto;
    border-color: grey;
}

aside h2 {
   position: absolute;
   top: 25px;
   left: 100px;
}

aside p {
    text-align: justify;
 }
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
margin: 1rem;
border: 1px solid rgba(0, 0, 0, .1);
padding: 1rem;
background-color: #ddd;
color: #000;

}

.indent {
    padding-left: 2rem;
}

