* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: black;
}

main img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    margin: -5px 10px 30px 0px;
    box-shadow: 5px 5px 5px gray;
    float: right;
   
    
}

p {
    padding: 0;
}

#profilep {
    text-align: justify;
    margin: 5px;
    padding: 10px; 
}


main {
    max-width: 840px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 1px solid;
    padding: 15px;
    background-color: white;
    color: black; 
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    border-color: grey;
}

aside h2 {
   position: absolute;
   top: 587px;
   left: 90px;
}

main img {
    width: 150px;
    height: auto;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class selectors*/

.box {
margin: 1rem;
border: 1px solid rgba(0, 0, 0, .1);
padding: 1rem;
background-color: #ddd;
color: #000;

}